/* fadeIn animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -o-transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
/* FadeOut animation */
@keyframes fadeOut {
  99% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  99% {
    opacity: 0;
    -moz-transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  99% {
    opacity: 0;
    -webkit-transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  99% {
    opacity: 0;
    -o-transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  99% {
    opacity: 0;
    -ms-transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
/* Element styling Courtesy of Thibaut Courouble */
/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
.notif-container {
  right: 5px;
  position: fixed;
  top: 5px;
  z-index: 9999;
}
.notif {
  background: #ffffff;
  border: 3px solid #c7cfd3;
  font-size: 0.85em;
  position: relative;
  padding: 20px 20px 20px 70px;
  margin-bottom: 5px;
  line-height: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.notif:before {
  background-clip: padding-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}
.notif p {
  font-size: 11px;
  color: #666666;
}
.notif.notif-opening {
  animation: fadeIn .2s linear forwards;
}
.notif.notif-closing {
  animation: fadeOut .2s linear forwards;
}
.notif.notif-opened {
  cursor: pointer;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.notif.notif-opened:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.notif-title {
  margin: 0 0 5px;
  font-size: 1em;
  color: #445157;
}
.notif-title:before,
.notif-title:after {
  content: '';
  position: absolute;
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.notif-succeed {
  background-color: #bcdc7d;
  border-color: #81ab2e;
  color: #638323;
}
.notif-succeed:before {
  background: #81ab2e;
}
.notif-succeed .notif-title {
  color: #638323;
}
.notif-succeed .notif-title:before,
.notif-succeed .notif-title:after {
  height: 12px;
  left: 25px;
  top: 20px;
  width: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.notif-succeed .notif-title:after {
  height: 4px;
  left: 17px;
  top: 25px;
  width: 8px;
}
.notif-alert {
  background-color: #fae0e0;
  border-color: #e34f4f;
  color: #a71b1b;
}
.notif-alert:before {
  background: #e34f4f;
}
.notif-alert .notif-title {
  color: #a71b1b;
}
.notif-alert .notif-title:before,
.notif-alert .notif-title:after {
  height: 14px;
  left: 23px;
  top: 20px;
  width: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.notif-alert .notif-title:after {
  height: 4px;
  left: 18px;
  top: 25px;
  width: 14px;
}
.notif-warn {
  background-color: #f9f2c7;
  border-color: #ead23d;
  color: #ae9913;
}
.notif-warn:before {
  background: #ead23d;
}
.notif-warn .notif-title {
  color: #ae9913;
}
.notif-warn .notif-title:before,
.notif-warn .notif-title:after {
  height: 11px;
  left: 23px;
  top: 18px;
  width: 4px;
  background: #5C562B;
}
.notif-warn .notif-title:after {
  height: 4px;
  top: 30px;
}
/* IE 8 doesn't support CSS transforms; use Unicode instead. */
.lt-ie9 .notif-succeed .notif-title:before {
  content: '\2714';
  display: block;
  top: 25px;
  left: 30px;
  width: 50px;
  font: bold 18px/50px 'Arial Unicode MS';
  color: white;
  text-align: center;
  background: none;
}
.lt-ie9 .notif-succeed .notif-title:after {
  display: none;
}
.lt-ie9 .notif-alert .notif-title:before {
  content: '\2716';
  display: block;
  top: 25px;
  left: 30px;
  width: 50px;
  font: bold 17px/50px 'Arial Unicode MS';
  color: white;
  text-align: center;
  background: none;
}
.lt-ie9 .notif-alert .notif-title:after {
  display: none;
}
.lt-ie9 .notif-close:before {
  content: '\2716';
  display: block;
  top: 0;
  left: 0;
  width: 16px;
  font: 11px/19px 'Arial Unicode MS';
  color: #BBBBBB;
  text-align: center;
  background: none;
}
.lt-ie9 .notif-close:after {
  display: none;
}
.lt-ie9 .notif-close:hover:before {
  color: #999999;
}
