label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1em;
  margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #c7cfd3;
  color: #626262;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  padding: 0.5em;
  vertical-align: middle;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="password"]:hover,
textarea:hover {
  border-color: #bfbfbf;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  border-color: #3d9df0;
  outline: medium none;
}
textarea {
  height: 69px;
  line-height: 19px;
  overflow: auto;
  padding: 4px 8px;
  resize: none;
}
.lt-ie9 input {
  line-height: 29px;
}
.option {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  height: 18px;
  position: relative;
  vertical-align: middle;
  width: 18px;
}
.option > input {
  height: inherit;
  left: 0;
  opacity: 0;
  position: absolute;
  width: inherit;
}
.option .checkbox,
.radio {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #c7cfd3;
  border-radius: 2px;
  display: block;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox:before,
.radio:before {
  content: "";
  display: none;
}
input:hover + .checkbox,
input:hover + .radio,
.checkbox:hover,
.radio:hover {
  border-color: #bfbfbf;
}
input:focus + .checkbox,
input:focus + .radio,
input.focus + .checkbox,
input.focus + .radio {
  border-color: #6cb5f4;
}
input:checked + .checkbox:before,
input:checked + .radio:before {
  display: block;
}
.checkbox:before {
  border-color: #aab7bd;
  border-image: none;
  border-style: solid;
  border-width: 0 0 3px 3px;
  height: 3px;
  left: 4px;
  position: absolute;
  top: 5px;
  width: 7px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input:focus + .checkbox:before,
input.focus + .checkbox:before {
  border-color: #3d9df0;
}
.radio {
  border-radius: 9px;
}
.radio:before {
  background: none repeat scroll 0 0 #c7cfd3;
  border-radius: 3px;
  height: 6px;
  margin: 4px;
  width: 6px;
}
input:focus + .radio:before,
input.focus + .radio:before {
  background: none repeat scroll 0 0 #3d9df0;
}
.lt-ie9 .option > input {
  padding: 0;
  position: static;
}
.lt-ie9 .checkbox,
.lt-ie9 .radio {
  display: none;
}
.select {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #c7cfd3;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.select:hover {
  border-color: #bfbfbf;
}
.select > select {
  background: none repeat scroll 0 0 #FFFF;
  border: 0 none;
  color: #aab7bd;
  display: block;
  font-size: 1em;
  line-height: 1em;
  padding: 0.45em;
  margin: 0;
  width: 100%;
}
.select:active {
  color: #bfbfbf;
  border: 1px solid #3d9df0;
  outline-offset: 0;
}
.select:before,
.select:after {
  content: "";
  pointer-events: none;
  position: absolute;
}
.select:before {
  background: inherit;
  bottom: 0;
  right: 0;
  top: 0;
  width: 29px;
}
.select:after {
  border-color: #9095a0 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-image: none;
  border-style: solid;
  border-width: 5px;
  height: 0;
  right: 13px;
  top: 50%;
  width: 0;
}
.button {
  background: none repeat scroll 0 0 #7786a0;
  border: 0 none;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 0.82em;
  font-weight: bold;
  line-height: 3em;
  padding: 0 1.3em;
  margin: 0 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button:hover {
  background: none repeat scroll 0 0 #95a1b5;
}
.button:active {
  background: none repeat scroll 0 0 #7786a0;
}
a.button {
  line-height: 3em;
  text-decoration: none;
}
.button-blue {
  background: none repeat scroll 0 0 #3d9df0;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.button-blue:hover {
  background: none repeat scroll 0 0 #6cb5f4;
  color: #FFFFFF;
}
.button-blue:active,
.button-blue.active {
  background: none repeat scroll 0 0 #3d9df0;
  color: #FFFFFF;
}
.button-green {
  background: none repeat scroll 0 0 #81ab2e;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.button-green:hover {
  background: none repeat scroll 0 0 #638323;
  color: #FFFFFF;
}
.button-green:active,
.button-green.active {
  background: none repeat scroll 0 0 #638323;
  color: #FFFFFF;
}
.breadcrumbs {
  background-color: #FFFFFF;
  line-height: 1.5em;
  overflow: hidden;
}
.breadcrumbs > li {
  background-color: #f6f6f6;
  float: left;
  list-style: none outside none;
  padding: 0.45em 1.5em 0.45em 1em;
}
.breadcrumbs li:first-child > .breadcrumb:before,
.breadcrumbs li:first-child > .breadcrumb:after {
  display: none;
}
.breadcrumbs .breadcrumb {
  color: #aab7bd;
  font-size: 0.85em;
  font-weight: bold;
  position: relative;
}
.breadcrumbs .breadcrumb:hover {
  color: #445157;
}
.breadcrumbs .breadcrumb:before,
.breadcrumbs .breadcrumb:after {
  border-color: transparent transparent transparent #c7cfd3;
  border-image: none;
  border-style: outset outset outset solid;
  border-width: 25px;
  content: "";
  height: 0;
  left: -40px;
  pointer-events: none;
  position: absolute;
  top: -1.5em;
  width: 0;
}
.breadcrumbs .breadcrumb:after {
  border-left-color: #f6f6f6;
}
.breadcrumbs .breadcrumb:before {
  left: -39px;
}
.breadcrumbs .current {
  background-color: #FFFFFF;
  margin-left: -15px;
}
.breadcrumbs .current .breadcrumb {
  color: #445157;
  left: 20px;
  overflow: hidden;
}
table {
  background: none repeat scroll 0 0 #FFFFFF;
  border-collapse: collapse;
  font-size: 0.9em;
  line-height: 3em;
  table-layout: fixed;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
thead > tr > th {
  border: 1px solid #445157;
  background: none repeat scroll 0 0 #445157;
  font-size: 0.8em;
  color: #FFFFFF;
  padding: 0 15px;
  text-transform: uppercase;
}
thead > tr > th.checkbox-column {
  text-align: center;
  width: 20px;
}
tbody {
  border: 1px solid #c7cfd3;
}
tbody > tr.odd {
  background: none repeat scroll 0 0 #eceff0;
}
tbody > tr > td {
  overflow: hidden;
  padding: 0.5em 1em;
  text-overflow: ellipsis;
}
tbody > tr > td.tile {
  background-color: #FFFDBB;
}
tbody > tr > td.checkbox-column {
  text-align: center;
  width: 20px;
}
.table-pagination {
  margin-top: 15px;
}
.table-pagination ul {
  *zoom: 1;
  padding: 0;
  margin: 0;
}
.table-pagination ul:before,
.table-pagination ul:after {
  content: "";
  display: table;
}
.table-pagination ul:after {
  clear: both;
}
.table-pagination ul li {
  background-color: #FFFFFF;
  border: 1px solid #c7cfd3;
  float: left;
  list-style: none outside none;
  margin-right: 3px;
}
.table-pagination ul li a {
  color: #445157;
  display: block;
  padding: 6px 12px;
}
.table-pagination ul li.disabled {
  background: none repeat scroll 0 0 #f6f6f6;
}
.table-pagination ul li.disabled a,
.table-pagination ul li.disabled span {
  color: #aab7bd;
}
.switch {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 58px;
  margin-right: 5px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switch > .label {
  display: block;
  position: relative;
  height: 22px;
  line-height: 23px;
  font-size: 10px;
  font-weight: bold;
  color: #c7cfd3;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 2px solid #c7cfd3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch > .label:before {
  content: attr(data-off);
  position: absolute;
  top: 0;
  right: 3px;
  width: 26px;
}
.switch > .label:after {
  background-color: #c7cfd3;
  content: '';
  display: block;
  height: 18px;
  margin: 2px;
  width: 18px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.switch > input {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.switch > input:focus {
  outline: none;
}
.switch > input:focus + .label {
  color: #6cb5f4;
  border-color: #6cb5f4;
}
.switch > input:focus + .label:after {
  background-color: #6cb5f4;
}
.switch > input:checked + .label {
  padding-left: 32px;
  color: #FFFFFF;
  background-color: #6cb5f4;
  border-color: #6cb5f4;
}
.switch > input:checked + .label:before {
  content: attr(data-on);
  left: 3px;
}
.switch > input:checked + .label:after {
  background-color: #FFFFFF;
  height: 20px;
  margin: 1px;
  width: 20px;
}
.switch > input:checked:focus + .label {
  background-color: #3d9df0;
  border-color: #3d9df0;
}
.switch-green > input:checked + .label {
  background: #81ab2e;
  border-color: #81ab2e;
}
.switch-green > input:checked:focus + .label {
  background: #638323;
  border-color: #638323;
}
.switch-red > input:checked + .label {
  background: #a71b1b;
  border-color: #a71b1b;
}
.switch-red > input:checked:focus + .label {
  background: #e34f4f;
  border-color: #e34f4f;
}
/* Dialog fadeout */
@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Dialog fadein */
@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* flipin horizontal */
@keyframes ngdialog-flipin-horizontal {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@-moz-keyframes ngdialog-flipin-horizontal {
  0% {
    opacity: 0;
    -moz-transform: rotateY(-90deg);
  }
  100% {
    opacity: 1;
    -moz-transform: rotateY(0deg);
  }
}
@-webkit-keyframes ngdialog-flipin-horizontal {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
}
@-o-keyframes ngdialog-flipin-horizontal {
  0% {
    opacity: 0;
    -o-transform: rotateY(-90deg);
  }
  100% {
    opacity: 1;
    -o-transform: rotateY(0deg);
  }
}
@-ms-keyframes ngdialog-flipin-horizontal {
  0% {
    opacity: 0;
    -ms-transform: rotateY(-90deg);
  }
  100% {
    opacity: 1;
    -ms-transform: rotateY(0deg);
  }
}
/* flipout horizontal */
@keyframes ngdialog-flipout-horizontal {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
}
@-moz-keyframes ngdialog-flipout-horizontal {
  0% {
    opacity: 1;
    -moz-transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    -moz-transform: rotateY(-90deg);
  }
}
@-webkit-keyframes ngdialog-flipout-horizontal {
  0% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
}
@-o-keyframes ngdialog-flipout-horizontal {
  0% {
    opacity: 1;
    -o-transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    -o-transform: rotateY(-90deg);
  }
}
@-ms-keyframes ngdialog-flipout-horizontal {
  0% {
    opacity: 1;
    -ms-transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    -ms-transform: rotateY(-90deg);
  }
}
/* Dialog styling */
.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ngdialog {
  position: fixed;
  overflow: auto;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}
.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-animation: ngdialog-fadeout 0.5s;
  -moz-animation: ngdialog-fadeout 0.5s;
  -ms-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
  -webkit-backface-visibility: hidden;
}
.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-fadeout 0.5s;
  -moz-animation: ngdialog-fadeout 0.5s;
  -ms-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
  -webkit-backface-visibility: hidden;
}
.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20000px;
  -webkit-animation: ngdialog-fadein 0.5s;
  -moz-animation: ngdialog-fadein 0.5s;
  -ms-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  -webkit-backface-visibility: hidden;
}
.ngdialog-content {
  background: white;
  -webkit-animation: ngdialog-fadein 0.5s;
  -moz-animation: ngdialog-fadein 0.5s;
  -ms-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  -webkit-backface-visibility: hidden;
}
.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}
body.ngdialog-open {
  overflow: hidden;
}
.ngdialog.ngdialog-theme-admin {
  padding-bottom: 100px;
  padding-top: 100px;
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  perspective: 1300px;
  -webkit-perspective-origin: 50% 150px;
  -moz-perspective-origin: 50% 150px;
  -ms-perspective-origin: 50% 150px;
  perspective-origin: 50% 150px;
}
.ngdialog.ngdialog-theme-admin.ngdialog-closing .ngdialog-content {
  -webkit-animation: 0.5s ease 0s normal none 1 ngdialog-flipout-horizontal;
  -moz-animation: 0.5s ease 0s normal none 1 ngdialog-flipout-horizontal;
  -ms-animation: 0.5s ease 0s normal none 1 ngdialog-flipout-horizontal;
  animation: 0.5s ease 0s normal none 1 ngdialog-flipout-horizontal;
}
.ngdialog.ngdialog-theme-admin .ngdialog-content {
  -webkit-animation: 0.5s ease 0s normal none 1 ngdialog-flipin-horizontal;
  -moz-animation: 0.5s ease 0s normal none 1 ngdialog-flipin-horizontal;
  -ms-animation: 0.5s ease 0s normal none 1 ngdialog-flipin-horizontal;
  animation: 0.5s ease 0s normal none 1 ngdialog-flipin-horizontal;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 5px solid #445157;
  display: inline-block;
  margin: 0 auto;
  max-width: 600px;
  padding: 25px;
  position: relative;
  text-align: left;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: auto;
}
.ngdialog.ngdialog-theme-admin .ngdialog-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.ngdialog.ngdialog-theme-admin .ngdialog-close:before {
  background: none repeat scroll 0 0 #445157;
  color: #FFFFFF;
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1em;
  font-weight: 100;
  height: 1.25em;
  line-height: 1px;
  overflow: hidden;
  padding-top: 0.5em;
  right: 0;
  text-align: center;
  text-indent: 1px;
  top: 0;
  width: 1.25em;
}
/* fadeIn animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -moz-transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -o-transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-transform: translateX(30px);
  }
  100% {
    opacity: 0.8;
  }
}
/* FadeOut animation */
@keyframes fadeOut {
  99% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  99% {
    opacity: 0;
    -moz-transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  99% {
    opacity: 0;
    -webkit-transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  99% {
    opacity: 0;
    -o-transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  99% {
    opacity: 0;
    -ms-transform: translateX(30px);
  }
  100% {
    opacity: 0;
  }
}
/* Element styling Courtesy of Thibaut Courouble */
/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
.notif-container {
  right: 5px;
  position: fixed;
  top: 5px;
  z-index: 9999;
}
.notif {
  background: #ffffff;
  border: 3px solid #c7cfd3;
  font-size: 0.85em;
  position: relative;
  padding: 20px 20px 20px 70px;
  margin-bottom: 5px;
  line-height: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.notif:before {
  background-clip: padding-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}
.notif p {
  font-size: 11px;
  color: #666666;
}
.notif.notif-opening {
  animation: fadeIn .2s linear forwards;
}
.notif.notif-closing {
  animation: fadeOut .2s linear forwards;
}
.notif.notif-opened {
  cursor: pointer;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.notif.notif-opened:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.notif-title {
  margin: 0 0 5px;
  font-size: 1em;
  color: #445157;
}
.notif-title:before,
.notif-title:after {
  content: '';
  position: absolute;
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.notif-succeed {
  background-color: #bcdc7d;
  border-color: #81ab2e;
  color: #638323;
}
.notif-succeed:before {
  background: #81ab2e;
}
.notif-succeed .notif-title {
  color: #638323;
}
.notif-succeed .notif-title:before,
.notif-succeed .notif-title:after {
  height: 12px;
  left: 25px;
  top: 20px;
  width: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.notif-succeed .notif-title:after {
  height: 4px;
  left: 17px;
  top: 25px;
  width: 8px;
}
.notif-alert {
  background-color: #fae0e0;
  border-color: #e34f4f;
  color: #a71b1b;
}
.notif-alert:before {
  background: #e34f4f;
}
.notif-alert .notif-title {
  color: #a71b1b;
}
.notif-alert .notif-title:before,
.notif-alert .notif-title:after {
  height: 14px;
  left: 23px;
  top: 20px;
  width: 4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.notif-alert .notif-title:after {
  height: 4px;
  left: 18px;
  top: 25px;
  width: 14px;
}
.notif-warn {
  background-color: #f9f2c7;
  border-color: #ead23d;
  color: #ae9913;
}
.notif-warn:before {
  background: #ead23d;
}
.notif-warn .notif-title {
  color: #ae9913;
}
.notif-warn .notif-title:before,
.notif-warn .notif-title:after {
  height: 11px;
  left: 23px;
  top: 18px;
  width: 4px;
  background: #5C562B;
}
.notif-warn .notif-title:after {
  height: 4px;
  top: 30px;
}
/* IE 8 doesn't support CSS transforms; use Unicode instead. */
.lt-ie9 .notif-succeed .notif-title:before {
  content: '\2714';
  display: block;
  top: 25px;
  left: 30px;
  width: 50px;
  font: bold 18px/50px 'Arial Unicode MS';
  color: white;
  text-align: center;
  background: none;
}
.lt-ie9 .notif-succeed .notif-title:after {
  display: none;
}
.lt-ie9 .notif-alert .notif-title:before {
  content: '\2716';
  display: block;
  top: 25px;
  left: 30px;
  width: 50px;
  font: bold 17px/50px 'Arial Unicode MS';
  color: white;
  text-align: center;
  background: none;
}
.lt-ie9 .notif-alert .notif-title:after {
  display: none;
}
.lt-ie9 .notif-close:before {
  content: '\2716';
  display: block;
  top: 0;
  left: 0;
  width: 16px;
  font: 11px/19px 'Arial Unicode MS';
  color: #BBBBBB;
  text-align: center;
  background: none;
}
.lt-ie9 .notif-close:after {
  display: none;
}
.lt-ie9 .notif-close:hover:before {
  color: #999999;
}
